body {
    background-color: rgb(15, 110, 169);
}

/* home.html */
/* ---------------------------------------- */
/* ---------------------------------------- */

#name {
    color:hsl(143, 86%, 63%);
    font-size: 125%;
    margin-top: 5px;
    margin-right: 30px;
    padding: 10px;
    text-decoration: none;
    text-align:justify;
}

.nav-bar {
    display:-ms-inline-flexbox;
    text-align:end;
}

#nav {
    background-color: black;
    border: solid 2px white;
    border-radius: 1cm;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

#nav:hover {
    background-color: rgb(27, 162, 74);
}



.intro {
    background-color: black;
    border: 10px solid rgb(51, 227, 174);
    border-radius: 1cm; 
    color:white;
    font-size: 150%;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 45%;
    text-align: center;
    text-decoration:none;
}

p.role {
    color: rgb(255, 255, 255);
}

#image {
    border: solid 5px white;
    border-radius: 5cm;
    border-style:double;
    margin-left: 400px;
}

#link {
    display: block;
    margin-top:8cm; 
}

li {
    display: inline;
    margin-right: 20px;
}

section.introduction {
    margin: auto auto 40px -150px;
}

div.box {
    float:right; 
    margin: 30px 150px auto auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight:900;
    color:white;
    background: -webkit-linear-gradient(rgb(146, 143, 143), rgb(80, 80, 84));
    padding: 10px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    text-shadow: -1px -1px 1px black;
    text-transform: uppercase;
    border: 2px solid black;
    line-height: 1.8em;
}

div.box:hover {
    border: 2px solid white;
    cursor: pointer;
}

div.box a {
    color: white;
    letter-spacing: 1px;
}

div.box a:hover {
    color:rgb(13, 244, 236);
    display:inline-block;
}
/* ---------------------------------------- */
/* ---------------------------------------- */

/* about-me.html */
/* ---------------------------------------- */
/* ---------------------------------------- */

#about-me {
    text-align:center;
    text-decoration: underline;
    background: black;
    color:white;
    margin-left: 40%;
    margin-right: 40%;
    border: solid 3px rgb(51, 227, 174);
    border-radius: 1cm;
    padding: 10px;
}

.description {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: solid 5px black;
    margin: 0;
    margin-left: 10cm;
    margin-right: 10cm;
    justify-content: baseline;
}

p.paragraph {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.5cm;
    line-height: 2.0em;
    text-decoration:none;
    text-wrap:balance;
    text-indent: 100px;
}
/* ---------------------------------------- */
/* ---------------------------------------- */

/* contact.html */
/* ---------------------------------------- */
/* ---------------------------------------- */

#contact-header {
    color: white;
    background-color: black;
    padding: 15px;
    border: solid 3px rgb(51, 227, 174);
    border-radius: 1cm;
    margin-left: 16cm; 
    margin-right: 16cm;
    text-align: center;
    text-decoration: underline;
    font-size: 1.9em;
}

.contact-details {
    background-color: white;
    padding: 10px;
    border: solid 3px black;
    border-radius: 1cm;
    text-align:center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 0.5cm;
}
/* ---------------------------------------- */
/* ---------------------------------------- */

/* project.html */
/* ---------------------------------------- */
/* ---------------------------------------- */

section.project {
    text-align: center;
    font-size: 110%;
}

#project-header {
    background-color: black;
    color: white;
    border: solid 3px rgb(51, 227, 174);
    border-radius: 1cm;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 200%;
    padding: 10px;
    text-decoration: underline;
}

div.list_of_projects ul {
    margin: 20px auto 30px 50px;
    margin-left:10px;
    position: static;
    line-height: 2.8em;
    letter-spacing: 2px;
    text-align:left;
    display:inline-flex;
    column-gap: 5cm;
    font-size: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    padding: 10px;
}

div.project {
    padding: 10px;
    margin: 10px 20px auto 20px;
    background: repeating-linear-gradient(
        rgba(76, 15, 182, 0.473),
        rgb(94, 50, 180),
        rgb(114, 84, 182), 
        rgb(128, 120, 181)
    );
    border: 4px solid black;
    border-radius: 10px;
}

div.project:hover {
    border:4px solid rgb(255, 255, 255);
}

div.project a#git-links {
    text-decoration: none;
}

h3#project-portfolio {
    text-align:center;
    text-decoration: underline;
    text-transform: uppercase;
    text-overflow: none;
    border-bottom: 1px solid white;
    font-size: 130%;
    margin: auto;
    text-shadow: 1px -1px 5px white;
}

p#project_description {
    width: 500px;
    line-height: 3.5em;
    text-indent: 1cm;
    text-overflow:none;
    
}

div.images{
    margin-left:5px;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.167);
}

div.project_tech, div.project_tech2{
    display:inline-flex;
    column-gap: 30px;
    margin: auto 50px auto 70px;
    padding: 10px;
}

/* ---------------------------------------- */
/* ---------------------------------------- */

/* skills.html */
/* ---------------------------------------- */
/* ---------------------------------------- */

#skills-header {
    text-align: center;
    background-color: black;
    color: white;
    border: solid 3px rgb(51, 227, 174);
    border-radius: 1cm;
    margin-left: 43%;
    margin-right: 43%;
    padding: 10px;
    text-decoration: underline;
}

#lang-sub-header {
    color:white;
    background-color: black;
    padding: 10px;
    margin-left: 37%;
    margin-right: 37%;
    border: 3px solid rgb(0, 234, 255);
    border-radius: 20px;
    text-decoration:none;
    text-align:center;
}

#box-of-lang 
{
    display:flex;
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    border: solid 3px black;
}


/* ---------------------------------------- */
/* ---------------------------------------- */